<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="ctrl.username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="ctrl.password">
  </div>

  <div class="text-center">
    
    <!--TODO #1: 
      Clicking create account should take the username and password to create a 
      new account.
    -->
    <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.createAccount(ctrl.username,ctrl.password)" data-toggle="modal" data-target="#myModal">Create account</button>
    
    <!--TODO #2: 
      Clicking login should take the username and password and try to log the
      user in. If they are logged in successfully then 
    -->
    <button type="submit" class="btn btn-primary btn-lg" ng-click="ctrl.login(ctrl.username,ctrl.password)">Login</button>
  </div>

</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>