<div>
  <h1 class="text-center">Movie Database</h1>

  <form class="form-inline">
    <div class="form-group">
      <label for="search">Search</label>
      <input ng-model="searchText" type="text" class="form-control" id="search">
    </div>
    <div class="form-group">
      <label for="search">Sort</label>
      
      <!--TODO #6: show the list of sort options form the controller in this dropdown-->
      <select ng-options="sortOption.label for sortOption in Ctrl.sortOptions" ng-model="Ctrl.selectedOption" class="form-control"></select>
    </div>
  </form>

  <!--TODO #3: repeat this div for each movie-->
  <!--TODO #4: When the user clicks a movie take them to the details page for that movie-->
  <!--TODO #5: Only show movies where the title matches what the user typed into the search box-->
  <!--TODO #6: Sort the movies based on what the user selects in the sort dropdown-->
  <!--TODO #7: Setup pagination so that only 4 movies are shown at a time-->
  <div ng-repeat="movie in filtered = (Ctrl.movieData | filter:{Title:searchText}) | orderBy: Ctrl.selectedOption.sortField | limitTo: Ctrl.moviesPerPage:Ctrl.curPage*Ctrl.moviesPerPage" class="media movie-list-item">
    <a href="/#/details/{{movie.imdbID}}">
      <div class="media-left">
        <div class="poster-container">
          <!--TODO #3: Show the movie poster-->
          <img ng-src="{{movie.Poster}}" class="media-object movie-poster">
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <!--TODO #3: Show the movie title-->
          {{movie.Title}}
          <span class="badge">
            <!--TODO #3: show the imdb rating-->
            {{movie.imdbRating}}
          </span>
        </h4>
        <div>
          <!--TODO #3: show the plot summary-->
          {{movie.Plot}}
        </div>
        <div class="released-date">
          Released: {{movie.Released}}<!--TODO #3: show the movie's release date-->
        </div>
      </div>
    </a>
  </div>

  
  <div>
    <!--TODO #7: 
      Go to the previous page of movies when this button is clicked. 
      This button should be disabled when you are on the first page.
    -->
    <button ng-disabled="Ctrl.curPage == 0" ng-click="Ctrl.previous()" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
    
    <!--TODO #7: show the current page number and the total number of pages-->
    page {{Ctrl.curPage+1}} of {{filtered.length/Ctrl.moviesPerPage | ceilingFilter}}
    
    <!--TODO #7: 
      Go to the next page of movies when this button is clicked. 
      This button should be disabled when you are on the last page.
    -->
    <button ng-disabled="Ctrl.curPage > filtered.length/Ctrl.moviesPerPage - 1" ng-click="Ctrl.next()" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-right"></i>
    </button>
  </div>
</div>