html, body, div {
	font-size: 0;
}

.parent {
	height:150px;
	margin-bottom:20px;
}
div div {
	height: 150px;
	width: 150px;
	border: 1px solid black;
}
.row1 div {
	display: inline-block;
	margin-right: 20px;
	margin-left: 0px;
}
.row2 div {
	float: left;
	margin-right: 20px;
}
.row3 div {
	position: absolute;
}
.row31 {
	top: 350px;
	left: 7px;
}
.row32 {
	top: 350px;
	left: 179px;
}
.row33 {
	top: 350px;
	left: 351px;
}